* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FF9A4B;
  height: 50px;
}

.main {
  margin: 50px auto;
  display: flex;
}

.main-item {
  position: relative;
  background-color: #EEEEEE;
  width: 300px;
  margin: 0 15px;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #EEEEEE;
}

.main-item {
  padding: 10px;
}

.main-image {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.image1 {
  background-image: url(img/flow01.png);
}

.image2 {
  background-image: url(img/flow02.png);
}

.image3 {
  background-image: url(img/flow03.png);
}

h3 {
  margin: 15px 0 5px 0;
}

footer {
  background-color: #AAAAAA;
  height: 50px;
}

@media screen and (max-width:768px) {
  .main {
    display: block;
  }

  .main-item {
    width: 90%;
    margin-bottom: 20px;
  }
}